.cards:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

ol li {
    list-style-type: decimal;
}

/* blockquote {
    margin-left: 40px;
} */